<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <swarming_subscribepro>
            <third_party_payment>
                <cardconnect_cc>cardconnect_cc_vault</cardconnect_cc>
                <cardconnect_hpp>cardconnect_hpp_vault</cardconnect_hpp>
                <cardconnect_apple_pay>cardconnect_apple_pay_vault</cardconnect_apple_pay>
                <cardconnect_google_pay>cardconnect_google_pay_vault</cardconnect_google_pay>
            </third_party_payment>
        </swarming_subscribepro>
        <payment>
            <cardconnect_google_pay>
                <can_use_internal>1</can_use_internal>
            </cardconnect_google_pay>
            <cardconnect_apple_pay>
                <can_use_internal>1</can_use_internal>
            </cardconnect_apple_pay>
            <cardconnect_hpp>
                <can_use_internal>1</can_use_internal>
            </cardconnect_hpp>
        </payment>
    </default>
</config>
